.holiday {
  padding: 1rem 1.5rem;
  padding-bottom: 0.65rem;
  width: 20.56rem;
  background: linear-gradient(135deg, #1ff7fd -40.61%, #0464ea);
  color: #ffffff;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: all 0.1s ease-in;
}

.holiday:hover {
  transform: scale(1.02);
}

.holiday__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holiday__header > Button {
  width: 3.94px;
  height: 1.875rem;
  font-size: 0.875;
  background: linear-gradient(
    153.43deg,
    #ffffff 16.67%,
    rgba(255, 255, 255, 0.64068) 100%
  );
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
  border-radius: 8px !important;
  text-transform: capitalize;
}

.holiday__title {
  font-weight: 700;
}

.holiday__description {
  width: 80%;
  padding-top: 0.9rem;
}

.holiday__date {
  text-align: end;
  font-size: 0.875rem;
}
