@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.home {
  display: flex;
  font-family: "Poppins", sans-serif;
}

/* Home main page starts */
.home__mainPage {
  background-color: #fcfcfc;
  padding: 2.94rem 2.125rem;
  flex: 1;
  padding-right: 1.5rem;
  padding-bottom: 1.7rem;
}

/* Home header starts */
.home__header {
  display: flex;
}

.home__headerLeft > h2 {
  font-weight: 500;
  width: 50%;
}

.home__headerLeft > h1 {
  font-size: 40px;
  font-weight: 600;
}

.home__search {
  padding-bottom: 1.75rem;
}
/* Home header ends */

/* Home holiday starts */
.home__holiday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.82rem;
}

.home__holidayList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.home__holidayButton {
  margin-left: 1.5rem;
  padding: 0.4rem 0.5rem;
  background-color: transparent;
  color: #07a1f3;
  border-radius: 999px;
  border: 2px solid #a3a3a560;
  outline: 0;
  transition: all 0.2s linear;
}

.home__holidayButton:hover {
  cursor: pointer;
  border-color: #07a1f3;
  color: #a3a3a560;
}
.home__holidayIcon {
  font-size: 2.5rem !important;
}
/* Home holiday ends */

.home__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
