@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.menu__container {
  display: flex;
  border-right: 2px solid #b9b9bb;
  width: fit-content;
  font-family: "Inter", sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.menu__logoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.menu__logo {
  height: 109px;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
}

.menu__buttons > Button {
  background-color: transparent;
  color: #b9b9bb;
  padding-left: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 216px;
  height: 56px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: none;
}

.menu__buttons > Button:hover {
  background-color: #045de9;
  color: #ffffff;
}

.menu__buttons > .active {
  background-color: #045de9;
  color: #ffffff;
}

.menu__buttonIcons {
  padding-right: 0.8rem;
  font-size: 2.2rem !important;
}

.menu__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  padding-top: 3.4rem;
}

.avatar {
  margin-right: 8px;
}

.menu__accountDetails {
  margin-right: 32px;
}

.menu__accountName {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #11142d;
}

.menu__accountProfile {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #808191;
}
