@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.attendance {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.attendance__mainPage {
  background-color: #fcfcfc;
  padding: 2.94rem 2.125rem;
  flex: 1;
  padding-right: 1.5rem;
  padding-bottom: 1.7rem;
}

.attendance__header {
  display: flex;
  align-items: center;
}
.attendance__headerLeft > h1 {
  font-size: 40px;
  font-weight: 600;
}

.attendance__dropdowns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-top: 3.5rem;
}

.attendance__date{
  display: flex;
  align-items: center;
  padding-top: 2.6rem;
}